<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unmilan Mukherjee</title>
    <!-- Insert Tailwind CSS CDN below -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/styles.css" />
    <!-- ... other links and scripts -->
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <!-- Main content goes here -->
      {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
