<footer class="bg-gray-800">
  <div class="container mx-auto px-6 py-4">
    <div class="flex justify-center items-center text-white">
      <p class="text-white text-sm text-center">Unmilan Mukherjee © 2023</p>
    </div>
    <div class="flex justify-center items-center mt-4">
      <!-- GitHub Icon -->
      <a
        href="https://github.com/Missing-Identity"
        target="_blank"
        class="mx-2"
      >
        <img
          src="{{ url_for('static', filename='images/Github-White.png') }}"
          alt="GitHub"
          class="w-6 h-6 social-icon"
        />
      </a>
      <!-- Twitter Icon -->
      <a href="https://twitter.com/unmilan69" target="_blank" class="mx-2">
        <img
          src="{{ url_for('static', filename='images/Twitter-White.png') }}"
          alt="Twitter"
          class="w-6 h-6 social-icon"
        />
      </a>
    </div>
    <!-- Attribution for Twitter icon -->
    <div class="text-center text-gray-400 text-xs mt-4">
      <p>
        Twitter icon created by Bogdan Rosu -
        <a
          href="https://www.flaticon.com/free-icons/twitter"
          title="twitter icons"
          class="hover:text-blue-400"
          >Flaticon</a
        >
      </p>
    </div>
  </div>
</footer>
